-- Example 0
The big,  brown   dog    ran   down  the street!

The big,  brown   dog    down   ran  street the!
-- Example 1
This is the first sentence of the paragraph.

This first is of paragraph sentence the the.
-- Example 2
t.d,a!f?g.b,q!i?p.h,s!u?m.l,e!v?y.c,j!w?k.n,x!o?r.

a.b,c!d?e.f,g!h?i.j,k!l?m.n,o!p?q.r,s!t?u.v,w!x?y.
-- Example 3
What is this?

What is this?
-- Example 4
?   .   ,   !   

?   .   ,   !   
-- Example 5
                    

                    
-- Example 6
faecdb

faecdb
-- Example 7
a A b B c C d D e E

A B C D E a b c d e
