-- Example 0
6
AAAAA AAA AAAAAAAAAAAAA  AAAA
AA   AAAAAAAAA AAAA     AAAA
BBBBBBBBBBBBBBBBBBBBBBBBBBB
BBBBBBB BBBBBBBBBB BBBBBBB
CCC CCCC CCCCCC      CCCC
DDDDDDDDDDDDDDDDDDD
2
5
7
2
2
2

6
-- Example 1
20
A A A A A A A A A A A A A A A A A A A A A A A A A 
BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB BB
CCC CCC CCC CCC CCC CCC CCC CCC CCC CCC CCC CCC CC
DDDD DDDD DDDD DDDD DDDD DDDD DDDD DDDD DDDD DDDD 
EEEEE EEEEE EEEEE EEEEE EEEEE EEEEE EEEEE EEEEE EE
FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF FFFF 
GGG GGG GGG GGG GGG GGG GGG GGG GGG GGG GGG GGG GG
HHHHHHHHHHH HHHHHHHHHH HHHHHHHHHH HHHHHHHHHH HHHHH
IIIIIIIIIIIIIII IIIIIIIIIIIIIII IIIIIIIIIIIIIII   
JJJJJJJJ JJJJJJJJ JJJJJJJJ JJJJJJJJ JJJJJJJJ JJJJJ
KKKKKKKKKKKKKKKKKKKKKKKKKK KKKKKKKKKKKKKKKKKKKKKKK
LLLLLLLLLL LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
N N N N N N N N N N N N N N N N N N N N N N N N N 
OOOOO OOOO OOO OO O O OO OOO OOOO OOOOO OOOOOO OOO
PPPPPPP PPPPPP PPPPP PPPP PPP PP P P PP PPP PPPP P
QQQQQQ QQQQQ QQQQ QQQ QQ Q Q QQ QQQ QQQQ QQQQQ QQQ
ZZZZ ZZ ZZZ ZZ ZZZZ ZZ ZZZ ZZ ZZZZ ZZ ZZZ ZZ ZZZZ 
SSS S SSS S SSS S SSS S SSS S SSS S SSS S SSS S SS
TT TT TT TT TT TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
2
12
20
2
4
36

8
-- Example 2
2
A A A A AAAAAAA A A A A A A A A A A
B BBBBB B B B B BBBBB B B B B B B B B
2
1
0
2
1
22

6
-- Example 3
1
AAAAAAAAAAAAAA A A A A A A A A A A
2
0
2
2
0
15

1
-- Example 4
50
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
N N N N N N N N N N N N N N N N N N N N N N N N N 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
A A A A A A A A A A A A A A A A A A A A A A A A A 
 O O O O O O O O O O O O OO O O O O O O O O O O O 
 P P P P P P P P P P P P P PP P P P P P P P P P P 
 Q Q Q Q Q Q Q Q Q Q Q Q Q Q QQ Q Q Q Q Q Q Q Q Q 
 R R R R R R R R R R R R R R R RR R R R R R R R R 
 S S S S S S S S S S S S S S S S SS S S S S S S S 
 T T T T T T T T T T T T T T T T T TT T T T T T T 
 U U U U U U U U U U U U U U U U U U UU U U U U U 
 V V V V V V V V V V V V V V V V V V V VV V V V V 
 W W W W W W W W W W W W W W W W W W W W WW W W W 
 X X X X X X X X X X X X X X X X X X X X X XX X X 
 Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y Y YY Y 
 Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z Z ZZZ
2
49
49
2
38
26

23
-- Example 5
3
AAA
BB
CCC
2
1
1
2
1
1

0
-- Example 6
6
AAAAA AAA AAAAAAAAAAAAA  AAAA
AA   AAAAAAAAA AAAA     AAAA
BBBBBBBBBBBBBBBBBBBBBBBBBBB
BBBBBBB BBBBBBBBBB BBBBBBB
CCC CCCC CCCCCC      CCCC
DDDDDDDDDDDDDDDDDDD
2
2
17
2
1
2

4
-- Example 7
7
A PC to do CAD huh  Sounds reasonable
Aurthor go out and buy us five new PCs
Dont you want to think about this for a minute
No every second counts and we want to be ahead of
the competition
       OK Greate idea Please place lOOk worth of
unmarked bills in my suitcase and Ill be on my way
2
0
11
2
1
15

2
