-- Example 0
topcoder
contest
problem
solution

2
-- Example 1
coder
number
rober
joker

0
-- Example 2
lattice
crossword
disticnt
approach

4
-- Example 3
zaxb
axc
cxd
bxdy

2
-- Example 4
aaaaaaaaaaaaaaa
aaaaaaaaaaaaba
aaaaaaaaaaaaaab
baaaaaaaaaaaaaa

10082176
