-- Example 0
1
NYY
1
YNY
1
Y

3
-- Example 1
2
NYYYN
YYYYY
2
NNYNY
YYYYN
2
YN
NY

6
-- Example 2
4
YYYYYYYYY
YYYYYYYYY
YYYYYYYYY
YYYYYYYYY
3
YYYYYYYYY
YYYYYYYYY
YYYYYYYYY
3
NNNN
NNNN
NNNN

0
-- Example 3
3
YYYYY
YNYNY
YYYNN
3
NNNNN
NYNYN
NNNYY
3
YNN
NYN
NNY

2
-- Example 4
5
NNNN
NYNY
NNYY
YNYN
YYNN
3
YYYY
NNYN
YNYY
3
YNNNN
NYYYY
NYYYN

4
-- Example 5
6
YYYNN
NNYNY
NNYYN
YYYYN
YNYYN
NYYNY
7
YYNNY
NNNYY
YYYNN
NNNNN
YNNYN
NYNNY
YNNYY
7
NNNNNN
NYYNNY
NYNNNY
NYNNYN
YNYNNN
YYNNYN
NYYYNY

4
