-- Example 0
9
table
chair
table
table
lamp
door
lamp
table
chair

table
-- Example 1
6
a
a
a
b
b
b

a
-- Example 2
8
icecream
peanuts
peanuts
chocolate
candy
chocolate
icecream
apple

chocolate
-- Example 3
1
soul

soul
