-- Example 0
2
e
ello
2
el
hello
2
ell
ello

2
-- Example 1
3
de
coder
topcoder
3
der
pcoder
tipcoder
3
oder
opcoder
cheatcoder

1
-- Example 2
2
world
sworld
1
word
1
sword

1
-- Example 3
2

abcd
1
a
1
ab

3
-- Example 4
1

0
0

-1
-- Example 5
1

1

1


1
-- Example 6
17
e
wyve
vffwyve
puvffwyvef
bpuvffwyveftl
tbpuvffwyveftlwz
ttbpuvffwyveftlwzcl
ttbpuvffwyveftlwzcletq
uuttbpuvffwyveftlwzcletqh
sjuuttbpuvffwyveftlwzcletqhd
vuysjuuttbpuvffwyveftlwzcletqhd
vjvuysjuuttbpuvffwyveftlwzcletqhdn
qsvjvuysjuuttbpuvffwyveftlwzcletqhdnn
hmqsvjvuysjuuttbpuvffwyveftlwzcletqhdnnj
ophmqsvjvuysjuuttbpuvffwyveftlwzcletqhdnnjm
ophmqsvjvuysjuuttbpuvffwyveftlwzcletqhdnnjmudk
jqophmqsvjvuysjuuttbpuvffwyveftlwzcletqhdnnjmudku
16
ve
fwyve
uvffwyve
puvffwyveft
bpuvffwyveftlw
ttbpuvffwyveftlwz
ttbpuvffwyveftlwzcle
ttbpuvffwyveftlwzcletqh
uuttbpuvffwyveftlwzcletqhd
ysjuuttbpuvffwyveftlwzcletqhd
jvuysjuuttbpuvffwyveftlwzcletqhd
vjvuysjuuttbpuvffwyveftlwzcletqhdnn
qsvjvuysjuuttbpuvffwyveftlwzcletqhdnnj
hmqsvjvuysjuuttbpuvffwyveftlwzcletqhdnnjm
ophmqsvjvuysjuuttbpuvffwyveftlwzcletqhdnnjmu
ophmqsvjvuysjuuttbpuvffwyveftlwzcletqhdnnjmudku
16
yve
ffwyve
uvffwyvef
puvffwyveftl
tbpuvffwyveftlw
ttbpuvffwyveftlwzc
ttbpuvffwyveftlwzclet
uttbpuvffwyveftlwzcletqh
juuttbpuvffwyveftlwzcletqhd
uysjuuttbpuvffwyveftlwzcletqhd
vjvuysjuuttbpuvffwyveftlwzcletqhd
svjvuysjuuttbpuvffwyveftlwzcletqhdnn
mqsvjvuysjuuttbpuvffwyveftlwzcletqhdnnj
phmqsvjvuysjuuttbpuvffwyveftlwzcletqhdnnjm
ophmqsvjvuysjuuttbpuvffwyveftlwzcletqhdnnjmud
qophmqsvjvuysjuuttbpuvffwyveftlwzcletqhdnnjmudku

-1
