-- Example 0
1
picture
100

1
-- Example 1
2
picture
canvas
2

2
-- Example 2
5
picture
canvas
picture
canvas
picture
2

2
-- Example 3
5
picture
canvas
picture
canvas
picture
3

4
-- Example 4
6
a
a
A
a
A
A
3

4
