-- Example 0
2
SCC
...

4
-- Example 1
1
C.C.S

-1
-- Example 2
3
#.#
CSC
#.#

5
-- Example 3
10
#.#....
##...#.
C#...#.
.....#.
..#....
..#S.#.
.##..#.
###..##
..C.#.#
###.#..

24
-- Example 4
3
#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#C
.................S..................
C#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#.#

155
