-- Example 0
1
DRAGON 10
2
BOAR 1
ELF 3

3
DRAGON
ELF
BOAR
-- Example 1
2
SWORDSMAN 5
ARCHER 3
2
CENTAUR 2
ELF 3

4
SWORDSMAN
ELF
ARCHER
CENTAUR
-- Example 2
2
ARCHER 5
PIXIE 3
3
OGRE 10
WOLF 10
GOBLIN 3

5
OGRE
WOLF
ARCHER
GOBLIN
PIXIE
-- Example 3
2
A 6
B 7
0

2
B
A
