-- Example 0
AB.AC.
ABD..E

2
ABDACE
ABDACE
-- Example 1
ABC...
DEF...

2
ABCDEF
DEFABC
-- Example 2
......
......

2
AAAAAA
AAAAAA
-- Example 3
TOPCODER
D.E..TR.

2
TOPCODER
DCEOOTRP
-- Example 4
ABC.
DEF.

0
-- Example 5
TEFAT..PVSKKJT.QBJEB..NPN..NBL
...B...E.ND.LNE...HW.ANTB.TKBD

2
TEFATAAPVSKKJTAQBJEBDDNPNHWNBL
AAABFJJEKNDPLNEPQSHWTANTBVTKBD
