-- Example 0
2
TOP
CODER

99437
-- Example 1
2
AAA
AAA

1998
-- Example 2
10
A
B
C
D
E
F
G
H
I
J

45
-- Example 3
2
AB
BA

187
-- Example 4
7
READIEST
OPERATIC
TOPCODER
PREDICTS
RAPIDEST
ASTEROID
AIRSPEED

563639653
