-- Example 0
5
.o.ooo..
o.......
.....ooo
........
.o.oo...

3
-- Example 1
5
.......
oo...oo
.oo.oo.
oo...oo
.......

1
-- Example 2
5
oooooooooo.....
...............
...............
...............
.......oooooooo

1
