-- Example 0
5
ice cream
banana
chocolate
chocolate
peanuts

5
-- Example 1
7
banana
banana
chocolate
strawberries
pineapple
pineapple
rice cream

0
-- Example 2
6
ice cream
ice cream
banana
banana
chocolate
chocolate

8
-- Example 3
22
foam
apple
whipped cream
apple
mushroom
apple core
ice cream
ice cream
banana
giraffe
mushroom
spare tire
ice cream
banana
foam
wrench
paper
cherry
alarm clock
football
apple
apple

138234
