-- Example 0
1
CHEMICAL CHEMICAL 5
CHEMICAL
12

2
-- Example 1
1
THERMAL THERMAL 5
THERMAL
13

2
-- Example 2
3
CHEMICAL THERMAL 6
THERMAL CHEMICAL 3
THERMAL CHEMICAL 5
THERMAL
123

0
-- Example 3
4
THERMAL CHEMICAL 4
CHEMICAL ELECTRIC 5
MECHANICAL THERMAL 8
ELECTRIC MECHANICAL 10
MECHANICAL
124

1
-- Example 4
3
CHEMICAL MECHANICAL 12
MECHANICAL THERMAL 13
THERMAL CHEMICAL 14
ELECTRIC
123456

123456
-- Example 5
8
MECHANICAL THERMAL 12
CHEMICAL ELECTRIC 228
CHEMICAL CHEMICAL 3361
ELECTRIC ELECTRIC 4312
ELECTRIC CHEMICAL 1123
THERMAL MECHANICAL 15000
MECHANICAL MECHANICAL 15000
THERMAL THERMAL 20000
THERMAL
13579

1433
