-- Example 0
C[6AB]C

CABABABABABABC
-- Example 1
C[2[3AB]]C

CABABABABABABC
-- Example 2
CO[1N]TEST

CONTEST
-- Example 3
[2[2AB]]

ABABABAB
-- Example 4
AAAAAAAAAAAAAAAAAAAAA

AAAAAAAAAAAAAAAAAAAAA
