-- Example 0
2
MATH
ENGLISH
2
1
2
3
ENGLISH
MATH
MATH

3
GOOD
GOOD
NOT GOOD
-- Example 1
2
MATH
ENGLISH
2
2
0
3
ENGLISH
MATH
MATH

3
NOT GOOD
GOOD
GOOD
-- Example 2
2
MATH
ENGLISH
2
2
0
2
ENGLISH
FRENCH

2
NOT GOOD
DOES NOT EXIST
-- Example 3
10
QCDTBCZICBJGQCCKIWXN
LFAYDMBGLNXWNNDLHARQLYLWYJWMWOZ
KPYATSAMTTKX
HCNJGXTYCLPRENVMJPFEPVOYMTHXACMKTLGPQSEUJONXNZAVMR
QADJYGPJ
WVAGAZUCBG
NHCKOMRNBSYRCKLNLCEOM
SXXHKMNERPHPEQE
JJUOCTOLFRJLJERFIXTCE
SHQHEJGLUEWJIWPTSKTOPZTBVFFL
10
2
1
41
5
1
0
1
13
11
9
27
NHCKOMRNBSYRCKLNLCEOM
MTLRHPNKFNEXQQOWYERECRZXT
QADJYGPJ
WVAGAZUCBG
EWWVWQZQNXEJGZJGZEVHKE
QADJYGPJ
IBQEMIBIGLVZLAOAYVPOMWZI
JTFOEIPGOAHSGLYMQSCTVVMDINGURUWEZTHJFWUYAWBLAD
ZRVMTHVAXCXJQPN
QCDTBCZICBJGQCCKIWXN
BVYUCAHSOBCBEFDEXWXFTKURXTIFDXXIDNBUPOPAWCBZHQY
WVAGAZUCBG
RVEJYNRBCOWRJBZHRTNQXROHWQOODMVDMVJDRNKWRGLXWWGPPW
QADJYGPJ
TYOMTKEVXMAVJBFBFDFOWARMZXSBUEMMQUWUNPSW
SXXHKMNERPHPEQE
JJUOCTOLFRJLJERFIXTCE
SXXHKMNERPHPEQE
SHQHEJGLUEWJIWPTSKTOPZTBVFFL
JJUOCTOLFRJLJERFIXTCE
QCDTBCZICBJGQCCKIWXN
SXXHKMNERPHPEQE
JJUOCTOLFRJLJERFIXTCE
NJQBVNXCZZNLWM
JJUOCTOLFRJLJERFIXTCE
QADJYGPJ
LFAYDMBGLNXWNNDLHARQLYLWYJWMWOZ

27
GOOD
DOES NOT EXIST
GOOD
NOT GOOD
DOES NOT EXIST
NOT GOOD
DOES NOT EXIST
DOES NOT EXIST
DOES NOT EXIST
GOOD
DOES NOT EXIST
NOT GOOD
DOES NOT EXIST
NOT GOOD
DOES NOT EXIST
GOOD
GOOD
GOOD
GOOD
GOOD
GOOD
GOOD
GOOD
DOES NOT EXIST
GOOD
NOT GOOD
GOOD
