-- Example 0
3
.#.
###
.#.

3
.b.
bwb
.b.
-- Example 1
6
#.#.#.
.#.#.#
#.#.#.
.#.#.#
#.#.#.
.#.#.#

6
b.b.b.
.b.b.b
b.b.b.
.b.b.b
b.b.b.
.b.b.b
-- Example 2
1
######

1
bwbwbw
-- Example 3
4
.#.
.#.
###
.#.

4
.w.
.b.
bwb
.b.
