-- Example 0
an easy test
3
a
an
the

2
easy
test
-- Example 1
money money money
3
a
an
the

1
money
-- Example 2
some really cool stuff that i forgot where to look
6
i
the
to
a
an
that

7
cool
forgot
look
really
some
stuff
where
-- Example 3
aaaaaaaaaaaaaaaa
1
a

1
aaaaaaaaaaaaaaaa
