-- Example 0
AA
Z-------------------------

ZZ
-- Example 1
AB
ZS------------------------

ZS
-- Example 2
ZZZZ
-------------------------Z

ZZZZ
-- Example 3
ABCDE
ZYXXYXZZXYXXZZXZYYXZZZX---

ZXXE
-- Example 4
ABCDEABCDEABC
ACBDESKADSLOEDDDASDBADEDAE

CCDECCECC
