-- Example 0
4
BOB
HARRY
ALICE
SALLY
2
BOB ALICE
HARRY SALLY

2
-- Example 1
4
BOB
HARRY
ALICE
SALLY
3
BOB HARRY
HARRY ALICE
ALICE SALLY

1
-- Example 2
1
CHUCK
3
CHUCK CHUCK
CHUCK CHUCK
CHUCK CHUCK

1
