-- Example 0
6
JAMES
PETER
ADAM
JOHN
DAVE
EDWARD

EDWARD
-- Example 1
6
ALGORITHM
DESIGN
DEVELOPMENT
TCHS
STUDIO
MARATHON

ALGORITHM
-- Example 2
16
A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P

A
-- Example 3
14
ACCOUNTING
MARKETING
PERSONNEL
FINANCE
SALES
ADMINISTRATION
IT
MANAGEMENT
OPERATIONS
LEGAL
PURCHASING
LOGISTICS
TRAINING
TECHNICAL

FINANCE
-- Example 4
3
AAAAA
AA
AAA

AA
