-- Example 0
fpsctyba
4
scrab
fortune
is
fun
10

abcfs
-- Example 1
lllllo
2
hello
world
6

lo
-- Example 2
l
3
blbvbvb
ajllkjk
bjkdfle
16

IMPOSSIBLE
-- Example 3
abc
1
aabbccc
3

ab
-- Example 4
tkse
3
easy
to
solve
600


