-- Example 0
yello??taxi
yellow
taxi

both
-- Example 1
?ellowtaxi
yell
l?w

one
-- Example 2
tha?isunbelievable
han?y
?th?

none
-- Example 3
secondfirst
second
first

both
-- Example 4
me?sa?e
?ceage
essay

one
-- Example 5
?
??
???

none
-- Example 6
hello
h?
ll?

both
