-- Example 0
12345

HLLLHHLLHLHLLHHLLHLLHLHLHLLHLHLH
-- Example 1
94070

HHLHLLLHLLHHHLLLHLLLHHHLLLHHLLLH
-- Example 2
11111

HLLLHHLLLHHLLLHHLLLHHLLLHHLHLHLH
-- Example 3
12348

HLLLHHLLHLHLLHHLLHLLHHLLHLLLHLHH
