-- Example 0
4
JONES
WILLIAMS
SMITH
HARPER

1
-- Example 1
6
JOHNSON
CHU
LOPEZ
SCAFFIDI
PASQUALE
KRUMME

4
-- Example 2
4
ABA
BAA
CAB
BAC

2
-- Example 3
10
BOHR
FRANKLIN
TESLA
NEWTON
EDISON
FARNSWORTH
GUTENBERG
HOOVER
MARCONI
EINSTEIN

5
-- Example 4
10
BABBAGE
BOOLE
BRESENHAM
TURING
DIJKSTRA
BACKUS
FLOYD
KERNIGHAN
BOOCH
NEUMANN

7
