-- Example 0
3
AAA
AAA
AAA

9
-- Example 1
3
ABCDEFGH
IJKLMNOP
QRSTUVWX

2
-- Example 2
4
AAAA
ABBC
BBCA
DCAA

6
-- Example 3
10
AUFLKNCSLKX
OWVGWXGHKFB
MUFZEELAWOR
CZCGHXVGWDW
EPNSDSJSKWT
APULZGHXMEK
UVMQQUFMYYQ
XWLMVXKSENF
KGZJUDQOAXA
UKIBGOSXSZL

4
-- Example 4
11
BDCDCCCCBED
ECEAADCEACA
AABEABBACBB
CEBEDDDDBDE
DBCACCABBDE
CCEECDCECBB
CCADACEDDCE
DDCEAACAEBB
CACCEEAACCA
DBAACCEEACD
DDBAACBEEAE

8
