-- Example 0
2
aaB
AbaAc

3
-- Example 1
2
abcdefg
ABCDEFG

7
-- Example 2
5
alnHFDfosKYFREanfETRiesf
fjsHDdoAFifASsd
GSDgsdGsdgJUsg
KJmgnsNSFsngfn
njtdhMHGBSmnytgnGVNR

11
-- Example 3
10
cdnepzoawAYtsHnYRLo
DQYreVrBBrV
KXvPqDZZSqjFbL
JvrWjwnJEtvHav
UzwHVAltvxp
MPhEhzAEwSe
wuCpYpDtJDakc
fRHzYSonTYyBvSK
ptrXoQzbxasXvQpMzcz
PfLgJrSFmib

9
