-- Example 0
2
AB
??
2

1
-- Example 1
2
??
??
2

2
-- Example 2
4
?-?A
????
????
??-?
2

10
-- Example 3
3
?C?
A?B
???
3

0
-- Example 4
3
???
A??
???
3

4
-- Example 5
3
???
A?A
???
3

0
-- Example 6
4
???B
?D?A
A???
????
4

5
-- Example 7
5
????D
?????
E????
?????
?????
5

6048
