-- Example 0
RGBRBR
BRBGRG

1
-- Example 1
RGRGR
GRG

2
-- Example 2
BGBGBGBG
RBRBRBRBRB

0
-- Example 3
RBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRB
BRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBRBR

1152
-- Example 4
BRGBRGBRBRBGRBRBRBGRGBRGBRGBRGBRGB
RBGBGBRBRBGRGBRBRBGRBGRBGBGBRBGBRBGRGRGBRBRBR

41
