-- Example 0
4
BACK
BACK
FORWARD
FORWARD

0
-- Example 1
9
a.com
b.com
c.com
BACK
BACK
BACK
FORWARD
FORWARD
FORWARD

7
a.com
b.com
c.com
b.com
a.com
b.com
c.com
-- Example 2
6
a.com
b.com
BACK
c.com
BACK
FORWARD

6
a.com
b.com
a.com
c.com
a.com
c.com
-- Example 3
4
a.com
b.com
b.com
BACK

3
a.com
b.com
a.com
-- Example 4
5
a.com
b.com
BACK
a.com
FORWARD

4
a.com
b.com
a.com
b.com
-- Example 5
15
ag
BACK
bh
BACK
af
bp
BACK
FORWARD
ao
BACK
bo
FORWARD
BACK
BACK
ah

13
ag
bh
ag
af
bp
af
bp
ao
bp
bo
bp
af
ah
