-- Example 0
2
ab
ba
2
ab
ba

2
-- Example 1
1
jay
3
yaj
tea
hey

1
-- Example 2
3
aaa
aab
aac
3
aaa
aba
caa

2
-- Example 3
4
park
kim
lee
choi
5
lxamal
alkime
parkpe
lyaeel
aypepl

3
-- Example 4
10
ava
abigail
cailyn
madeline
isabella
emma
caitlyn
olivia
chloe
brianna
4
vase
amme
vmal
aeve

1
-- Example 5
7
alex
bob
chris
david
edward
frank
gabriel
7
gabrielxl
hfodavide
arbibobri
daavxelar
enlalexwb
nkedwarda
cbxyzlaeg

5
