-- Example 0
She sells sea shells

aeeeehhllllssssss
-- Example 1
ReMemBEr To IgnoRE CASe

abceeeeegimmnoorrrst
-- Example 2
12345


-- Example 3
TopCoder is fun

cdefinooprstu
-- Example 4
Knights are better than Bishops

aabbeeeghhhiiknnoprrssstttt
