-- Example 0
HHHHH
1
UUUU
1
UU

0
-- Example 1
XYZ
4
ABC
PIO
BCKP
RT
3
ART
KPIO
ABCD

2
-- Example 2
U
3
A
B
C
2
AAA
BC

2
-- Example 3
ABCDXJKLMNOYUVW
8
ABCD
DEFG
GHIJKLM
NOPQ
QRST
TUVW
JKLMNOPQR
ABCDEFGHIJKLMNOPQRSTUVW
8
EFGHI
PQRST
EWQVG
YHNJQ
UTAPP
JJJMK
IOIIO
LLALL

8
-- Example 4
BJFDIJEBHBGICCF
8
DG
BGAC
GBD
E
GFEDI
J
JEFD
HHJB
8
ICID
A
HB
E
BABE
F
FH
DC

3
-- Example 5
QXRVYNI
8
QX
XR
RV
VY
YN
YNI
QXR
RVY
2
ACACA
BDB

8
-- Example 6
PLMOKNIJB
2
ALMOKNIJB
KNIJB
4
A
X
Y
Z

2
-- Example 7
GHJKLBNM
6
XYZW
PWREQ
LKATRRQ
XPMNYTR
QWWQ
GHJCLBNM
5
WWWW
QQQQQ
QWEQE
C
Y

1
