-- Example 0
29
5
I.LOVE.TOPCODER
0
0
29
5

5
I.LOVE.TOPCODER.I.LOVE.TOPCOD
............................E
R...........................R
E............................
DOCPOT.EVOL.I.REDOCPOT.EVOL.I
-- Example 1
10
10
THIS.SHOWS.A.CORNER
5
5
10
10

5
....O
....R
....N
....E
IHT.R
-- Example 2
4
4
THE.PHRASE.CAN.BE.LONGER.THAN.THE.PERIMETER
1
2
4
4

2
..H
SAR
-- Example 3
777
896
THE.PORTION.MAY.NOT.CONTAIN.ANY.LETTER
30
20
50
30

10
....................
....................
....................
....................
....................
....................
....................
....................
....................
....................
-- Example 4
1000000
1000000
LIVE
0
508
4
528

20
E...
V...
I...
L...
....
E...
V...
I...
L...
....
E...
V...
I...
L...
....
E...
V...
I...
L...
....
