-- Example 0
---***-*--*-*--*-******--***

312-12-12
-- Example 1
-*--*-----*------*---*----*-

125-63-41
-- Example 2
--**--**--**--**--**--**--**--**--**--**--******

+22222222222
-- Example 3
*-*****-**-*--***--*****--***-***--**-**---**----*

+11122212134
