-- Example 0
3
HI
YOU
SAY
HIYOUSAYHI

HI YOU SAY HI
-- Example 1
4
ABC
BCD
CD
ABCB
ABCBCD

AMBIGUOUS!
-- Example 2
3
IMPOSS
SIBLE
S
IMPOSSIBLE

IMPOSSIBLE!
-- Example 3
4
IMPOSS
SIBLE
S
IMPOSSIBLE
IMPOSSIBLE

IMPOSSIBLE
