-- Example 0
RRFRF

2
..
.#
-- Example 1
LFFRFF

3
...
##.
##.
-- Example 2
LFLFRRFLFRRFLF

3
#.#
...
#.#
-- Example 3
FLFRFFRFFFRFFRFLFLL

4
#..#
....
.##.
....
-- Example 4
FRFFFFFFLLFRFFFFFLLFRFFFFLFFLFF

7
######.
.......
#.#####
#.#...#
#.###.#
#.....#
#.#####
-- Example 5
FFFFFFFFFFFFFFFFFFFFFFFFLFFFFFFFFFFFFFFFFFFFFFFFF

25
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.########################
.........................
-- Example 6


1
.
