-- Example 0
4
a
abc
abb
bcd
4
ab
abc
ade
bfd

4
No
Yes
No
Yes
-- Example 1
3


de
3

a
bc

3
Yes
No
No
-- Example 2
1
adcbdeeaeafaklkfajlkfka
1
adcbdeearafaklkfajlqfka

1
No
-- Example 3
4

abc
bde
ahsdjka
4

qbp
fde
ahsdjka

4
Yes
No
Yes
Yes
