-- Example 0
3
yellow red purple blue cyan
red green orange magenta yellow
brown black orange yellow tan
6
orange
yellow
red
blue
magenta
tan

3
-- Example 1
3
yellow red purple blue cyan
red green orange magenta yellow
brown black orange yellow tan
5
orange
yellow
red
blue
tan

2
-- Example 2
6
yellow black blue green red
yellow brown cyan magenta tan
black grey fire maroon silver
blue white neon tangerine rust
green orange soot turquoise mint
red cream opal chrome sky
10
yellow
black
blue
green
red
brown
grey
white
orange
cream

5
-- Example 3
1
red green orange magenta yellow
1
silver

-1
-- Example 4
20
a i y d o
t s k g e
j u w i k
u k l s j
q s a c y
q m d x a
m s l h r
s x q l n
u r j s k
e w v d p
o l a b q
f z g a m
o g k b a
c h g k t
z v s n x
z n b w c
h p o u k
t z o x m
a w i v z
u t v m y
20
x
b
u
c
h
j
t
v
d
g
k
w
y
z
a
i
m
l
n
e

6
