-- Example 0
ABu
2

ABC
-- Example 1
ABn
2

AB2
-- Example 2
ABa
12

ABC
-- Example 3
A BC
2


-- Example 4
una
8732

Y2K
-- Example 5
ABa  DEuF-GHuJ KL-aMNaa5390u
1345876

AB0  DEAF-GHBJ KL-3MNXW5390M
